<h1>Categories</h1>

<ul>
  <%  Category.all.each do |category| %>
    <li>Category Name: <%= category.category_name %></li>    
  <% end %>
</ul>

<%= button_to "Back", products_path, method: :get %>