<h1>Categories</h1>

<ul>
  <%  Category.all.each do |category| %>
    <li><%= button_to category.category_name,   particular_category_products_category_path(category), method: :get %></li>    
  <% end %>
</ul>

<%= button_to "Back", products_path, method: :get %>